<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" >Todos</a>
    <img src="assets/image/icon.png" alt="image" style="height:40px;width:30px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login">Login <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/todos">Todos</a>
        </li>
        <li class="nav-item active ">
            <a class="nav-link" routerLink="/logout">Logout</a>
          </li>

      </ul>
      
    </div>
  </nav>
