
<hr>
<div class="container">
    <div class="row">
      <div class="col text-center">
        <button (click)="onAddCategory()" class="btn btn-success">Add Category</button>
        <button (click)="onAddTodo()" class="btn btn-success">Add task</button>
        <button (click)="onDeleteTodo()" class="btn btn-danger">Delete</button>
        <button (click)="onUpdateTodo()" class="btn btn-primary">Update</button>
        <button (click)="onChangeStatus()" class="btn btn-primary">Revert Status</button>
      </div>
    </div>
  </div>
  

<!-- <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Day</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of todoService.todos">
            <td>{{t.id}}</td>
            <td>{{t.name}}</td>
            <td>{{t.day}}</td>
        </tr>
    </tbody>
</table> -->
<button (click)="loadRows()" class ="tableButton">Refresh</button>

<input placeholder="Search" [(ngModel)]="searchText" type="text" (keyup)="quickSearch()" class="search">
<ag-grid-angular
   #agGrid
   class="ag-theme-balham cedvel"
   [rowData]="todos"
   [columnDefs]="columnDefs"
   pagination="true"
   rowSelection="multiple"
   [animateRows]="true"
[enableColResize]="true"
   (gridReady)="onGridReady($event)"  
[floatingFilter]="true"
   >
   </ag-grid-angular>
   