<button (click)="onAddTodo()" class="btn btn-success">Add task</button>
<hr>
<!-- <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Day</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of todoService.todos">
            <td>{{t.id}}</td>
            <td>{{t.name}}</td>
            <td>{{t.day}}</td>
        </tr>
    </tbody>
</table> -->
<button (click)="loadRows()">Siyahını yenilə</button>

<input placeholder="Axtarış" [(ngModel)]="searchText" type="text" (keyup)="quickSearch()" class="search">
<ag-grid-angular
   #agGrid
   style="width: 100%;
height: 500px;"
   class="ag-theme-balham cedvel"
   [rowData]="todos"
   [columnDefs]="columnDefs"
   pagination="true"
   rowSelection="multiple"
   [animateRows]="true"
[enableColResize]="true"
   (gridReady)="onGridReady($event)"  
[floatingFilter]="true"
   >
   </ag-grid-angular>
   